<script>
  window.people = <%= @people %>;
</script>

<%= erb(:base, layout: false) %>

<form role="form">
  <br />
  <div class="form-group">
    <input type="email" class="form-control" id="email-input" placeholder="Enter email">
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="location-button" class="btn btn-default glyphicon glyphicon-pushpin" aria-hidden="true" type="button"></button>
      </span>
      <input type="text" class="form-control" id="location-input" placeholder="Enter location">
    </div>
  </div>

  <button id="checkin-button" type="submit" class="btn btn-default">Check in!</button>
</form>

<div id="map"></div>
