<link rel="stylesheet" href="/css/leaflet.css" />
<link rel="stylesheet" href="/css/app.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/leaflet.min.js"></script>
<script src="/js/map.js"></script>

<h1>Nothing to see here, move along!</h1>
