<link rel="stylesheet" href="/css/vendor/leaflet.css" />
<link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css" />
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/underscore.min.js"></script>
<script src="/js/vendor/leaflet.min.js"></script>
<script src="/js/vendor/oms.min.js"></script>
<script src="/js/vendor/modernizr.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script>
  $(function () {
    window.checkins = <%= @person.checkins.to_json %>;
  });
</script>

<script src="/js/app.js"></script>
<script src="/js/map.js"></script>

<p><%= @person.email %></p>
<img src=<%= @person.icon_url(280) %> />

<div id='map' class='small'></div>
