<form action='', method='post'>
  <p>
    <label for='email'>Email:</label>
    <input type='text', name='email', class='text' />
  </p>
  <p>
    <label for='message'>Message:</label>
    <input type='text', name='message', class='text' />
  </p>
  <p>
    <input type='submit', value='Send', class='button' />
  </p>
</form>
